{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un tri</title>
{% endblock %}

{% block body %}
    <script>
        function disableQuantityInput() {
            document.getElementById('quantite').value = "";
            document.getElementById('quantite').disabled = true;
        }

        function getTypesVetement(e) {
            if (e == "") {
                html = `<label for="vetement_id" class="form-label">Type de vêtements</label><br>
                    <select name="vetement_id" id="vetement_id" class="form-select" required disabled>
                        <option value="">Sélectionner un type de vêtement</option>
                    </select>`
                document.getElementById('vetement-select').innerHTML = html;
                disableQuantityInput();

            } else {
                fetch('/tri/add/vetement?id=' + e)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('vetement-select').innerHTML = html;
                    });
            }
        }

        function handleQuantity(e) {
            e == "" ?
                disableQuantityInput()
                : document.getElementById('quantite').disabled = false;
        }
    </script>
    <div class="show-head-content">
        <h3>Ajouter un tri</h3>
    </div>
    <div class="form-container">
        <form method="post" action="/tri/add">
            <fieldset>
                <legend> Créer un tri</legend>

                <div class="mb-3">
                    <label for="ramassage_id" class="form-label">Ramassage</label><br>
                    <select name="ramassage_id" id="ramassage_id" class="form-select"
                            oninput="getTypesVetement(this.value)" required>
                        <option value="">Sélectionner un ramassage</option>
                        {% for ramassage in ramassages %}
                            <option value={{ ramassage.id }}>{{ ramassage.date }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="vetement-select" class="mb-3">
                    <label for="vetement_id" class="form-label">Type de vêtement</label><br>
                    <select name="vetement_id" id="vetement_id" class="form-select" required disabled>
                        <option value="">Sélectionner un type de vêtement</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="quantite" class="form-label">Quantité triée</label><br>
                    <input type="number" id="quantite" name="quantite" placeholder="Saisir la quantité triée"
                           class="form-control" step=".01" min="0.01" max="9999" required disabled>
                </div>

                <input type="submit" value="Valider" name="Valider" class="btn btn-primary">
            </fieldset>
        </form>
    </div>
{% endblock %}