{% extends 'layout.html' %}

{% block title %}
    <title>afficher l'état de tri</title>
{% endblock %}

{% block body %}
    <script>
        function removeData(chart) {
            chart.data.labels = [];
            chart.data.datasets[0].data = [];
            chart.update();
        }

        function removeDataRadarChart(chart) {
            chart.data.labels = [];
            chart.data.datasets = [];
            chart.update();
        }

        function addData(chart, labels, datas) {
            chart.data.labels = labels;
            chart.data.datasets[0].data = datas;
            chart.update();
        }

        function addDataRadarChart(chart, labels, datas) {
            chart.data.labels = labels;
            {#chart.data.datasets[0].data = datas;#}
            let datasets = [];

            let i = 0;
            Object.keys(datas).forEach((key => {
                datasets.push({
                    label: key,
                    fill: true,
                    backgroundColor: radar_chart_colors[i].backgroundColor,
                    borderColor: radar_chart_colors[i].borderColor,
                    pointBorderColor: radar_chart_colors[i].pointBorderColor,
                    pointBackgroundColor: radar_chart_colors[i].pointBackgroundColor,
                    data: datas[key]
                })
                i++;
            }))
            chart.data.datasets = datasets;
            chart.update();
        }

        // TODO : Also filter bar-chart and radar => all the page !!
        async function filterPieChart() {
            const dateDebut = document.getElementById("start-date").value;
            const dateFin = document.getElementById("end-date").value;

            fetch('/tri/etat/piechart?date_debut=' + dateDebut + '&date_fin=' + dateFin)
                .then(response => response.json())
                .then(response => {
                    const result = response;
                    removeData(pieChart);
                    addData(pieChart, result.labels, result.data)
                });
            fetch('/tri/etat/barchart?date_debut=' + dateDebut + '&date_fin=' + dateFin)
                .then(response => response.json())
                .then(response => {
                    const result = response;
                    removeData(barChart);
                    addData(barChart, result.labels, result.data)
                });
            fetch('/tri/etat/radarchart?date_debut=' + dateDebut + '&date_fin=' + dateFin)
                .then(response => response.json())
                .then(response => {
                    const result = response;
                    removeDataRadarChart(radarChart);
                    addDataRadarChart(radarChart, result.labels, result.data);
                });

        }
    </script>
    <div style="display: flex; justify-content: space-between">
        <div class="show-head-content">
            <h3>État de Tri</h3>
        </div>
        <div>
            <div>{{ "Filtre :" }}</div>
            <label for="start-date">Date de début:</label>
            <input type="date" id="start-date" name="trip-start" value="{{ dateDebut | safe }}"
                   min="{{ dateDebut | safe }}"
                   max="{{ dateFin | safe }}"/>
            <label for="end-date">Date de fin:</label>
            <input type="date" id="end-date" name="trip-start" value="{{ dateFin | safe }}" min="{{ dateDebut | safe }}"
                   max="{{ dateFin | safe }}"/>
            <button type="button" onclick="filterPieChart()" class="btn btn-primary">Valider</button>
        </div>
    </div>


    <div style="display: flex;justify-content: center;height: 500px; width: 100%">
        <canvas id="bar-chart" width="100%" height="100%"></canvas>
        <canvas id="pie-chart" width="100%" height="100%"></canvas>
        <canvas id="radar-chart" width="800" height="600"></canvas>
    </div>
    <script>
        {# TODO : Make it a stacked bar diag => https://www.chartjs.org/docs/latest/samples/bar/stacked.html #}
        // Bar chart
        function setupBarChart(barChartLabels, barChartData) {
            return new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                    labels: barChartLabels,
                    datasets: [
                        {
                            label: "Quantité de vêtements trié (en kg)",
                            backgroundColor: ["#3e95cd"],
                            data: barChartData
                        }
                    ]
                },
                options: {
                    legend: {display: false},
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Date de ramassage'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Quantité de vêtements trié (en kg)'
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Vêtements triées selon le ramassage'
                        }
                    }
                }
            });
        }

        // Pie chart
        function setupPieChart(pieChartLabels, pieChartData) {
            return new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: pieChartLabels,
                    datasets: [{
                        label: "Total trié (en kg)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#ffcc00"],
                        data: pieChartData
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Total trié selon le type de vêtements'
                        }
                    }
                }
            });
        }

        // Radar chart
        const radar_chart_colors = [
            {
                backgroundColor: "rgba(62,149,205,0.2)",
                borderColor: "rgba(62,149,205,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(62,149,205,1)"
            },
            {
                backgroundColor: "rgba(142,94,162,0.2)",
                borderColor: "rgba(142,94,162,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(142,94,162,1)"
            },
            {
                backgroundColor: "rgba(60,186,159,0.2)",
                borderColor: "rgba(60,186,159,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(60,186,159,1)"
            },
            {
                backgroundColor: "rgba(232,195,185,0.2)",
                borderColor: "rgba(232,195,185,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(232,195,185,1)"
            },
            {
                backgroundColor: "rgba(196,88,80,0.2)",
                borderColor: "rgba(196,88,80,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(196,88,80,1)"
            }
        ];

        function setupRadarChart() {
            console.log({{ radarChartData | safe }});
            const dataDict = {{ radarChartData | safe }};
            let datasets = [];

            let i = 0;
            Object.keys(dataDict).forEach((key => {
                datasets.push({
                    label: key,
                    fill: true,
                    backgroundColor: radar_chart_colors[i].backgroundColor,
                    borderColor: radar_chart_colors[i].borderColor,
                    pointBorderColor: radar_chart_colors[i].pointBorderColor,
                    pointBackgroundColor: radar_chart_colors[i].pointBackgroundColor,
                    data: dataDict[key]
                })
                i++;
            }))
            // TODO : Fix chart
            return new Chart(document.getElementById("radar-chart"), {
                type: 'radar',
                data: {
                    labels: {{ radarChartLabels | safe }},
                    datasets
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Quantité de vêtements trié par types selon les ramassages'
                        }
                    }
                }
            });
        }

        const pieChart = setupPieChart({{ pieChartLabels | safe }}, {{ pieChartData | safe }});
        const barChart = setupBarChart({{ barChartLabels | safe }}, {{ barChartData | safe }});
        const radarChart = setupRadarChart();
    </script>
{% endblock %}