{% extends 'layout.html' %}

{% block title %}
    <title>afficher l'état de tri</title>
{% endblock %}

{% block body %}
    <div class="show-head-content">
        <h3>État de Tri</h3>
    </div>
    <div style="display: flex;height: 500px; width: 500px">
        <canvas id="bar-chart" width="100%" height="100%"></canvas>
        <canvas id="pie-chart" width="100%" height="100%"></canvas>
    </div>
    <script>
        {# TODO : Make it a stacked bar diag => https://www.chartjs.org/docs/latest/samples/bar/stacked.html #}
        // Bar chart
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: {{ barChartLabels | safe }},
                datasets: [
                    {
                        label: "Quantité de vêtements trié (en kg)",
                        {#backgroundColor:["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],#}
                        backgroundColor: ["#3e95cd"],
                        data: {{ barChartData | safe }}
                    }
                ]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Date de ramassage'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Quantité de vêtements trié (en kg)'
                        }
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Vêtements triées selon le ramassage'
                    }
                }
            }
        });

        // Pie chart
        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
                labels: {{ pieChartLabels | safe }},
                datasets: [{
                    label: "Total trié",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: {{ pieChartData | safe }}
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Total trié selon le type de vêtements'
                    }
                }
            }
        });
    </script>
{% endblock %}