{% extends 'layout.html' %}

{% block title %}
    <title>afficher les tris</title>
{% endblock %}

{% block body %}
    <div class="show-head-content">
        <h3>Tris</h3>
        <a class="btn btn-primary" href="/tri/add">Ajouter un tri</a>
    </div>
    <div class="table-container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Date de ramassage</th>
                <th>Type de vêtement</th>
                <th>Quantité triée</th>
                {# TODO : Plutôt afficher Quantité triée * prix au kilo ! À nommer "Valeur" #}
                <th>Valeur</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {% if tris | length >= 1 %}
                {% for tri in tris %}
                    <tr>
                        <td>{{ tri.dateRamassage }}</td>
                        <td>{{ tri.nomTypeVetement }}</td>
                        <td>{{ tri.quantite }} kg</td>
                        <td>{{ tri.valeur }} €</td>
                        <td>
                            <a href="/tri/edit?id={{ tri.id }}" class="btn btn-outline-secondary">Éditer</a>
                            <a href="/tri/delete?id={{ tri.id }}" class="btn btn-outline-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        pas de tris
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}