{% extends 'layout.html' %}

{% block title %}
    <title>afficher les tris</title>
{% endblock %}

{% block body %}
    <div class="show-head-content">
        <h3>Tris</h3>
        <a class="btn btn-primary" href="/tri/add">Ajouter un tri</a>
    </div>
    <div class="table-container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Date de ramassage</th>
                <th>Type de vêtement</th>
                <th>Quantité triée</th>
                <th>Valeur</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {% if tris | length >= 1 %}
                {% for tri in tris %}
                    <tr>
                        <td><span>{{ tri.dateRamassage }}</span><span
                                class="badge rounded-pill bg-secondary">{{ tri.idRamassage }}</span>
                        </td>
                        <td><span>{{ tri.nomTypeVetement }}</span>
                            {% if tri.idTypeVetement == 1 %}
                                <span class="badge rounded-pill bg-primary">{{ tri.idTypeVetement }}</span>
                            {% elif tri.idTypeVetement == 2 %}
                                <span class="badge rounded-pill bg-dark">{{ tri.idTypeVetement }}</span>
                            {% elif tri.idTypeVetement == 3 %}
                                <span class="badge rounded-pill bg-success">{{ tri.idTypeVetement }}</span>
                            {% elif tri.idTypeVetement == 4 %}
                                <span class="badge rounded-pill bg-danger">{{ tri.idTypeVetement }}</span>
                            {% elif tri.idTypeVetement == 5 %}
                                <span class="badge rounded-pill bg-warning text-dark">{{ tri.idTypeVetement }}</span>
                            {% elif tri.idTypeVetement == 6 %}
                                <span class="badge rounded-pill bg-info text-dark">{{ tri.idTypeVetement }}</span>

                            {% endif %}
                        </td>
                        <td>{{ tri.quantite }} kg</td>
                        <td>{{ tri.valeur }} €</td>
                        <td>
                            <a href="/tri/edit?id={{ tri.id }}" class="btn btn-outline-secondary">Éditer</a>
                            <a href="/tri/delete?id={{ tri.id }}" class="btn btn-outline-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        pas de tris
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}