{% extends 'layout.html' %}

{% block title %}
<title>afficher les clients</title>
{% endblock %}

{% block body %}
<div class="show-head-content">
    <h3>Clients</h3>
    <a class="btn btn-primary" href="/client/add">Ajouter un client</a>
</div>
<div class="table-container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Valeur</th>
                <th>Catégorie client</th>
                <th>Type de vêtement</th>
                <th>Prix avec réduction (au kg)</th>
                <th>Prix sans réduction (au kg)</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% if plats | length >= 1 %}
            {% for ligne in plats %}
            <tr>
                <td>{{ ligne.nomPlat }}</td>
                <td>{{ ligne.prixPlat }}</td>
                <td>{{ ligne.dureePreparation }}</td>
                <td>{{ ligne.dateCreation }}</td>
                <td>{{ ligne.dateCreation }}</td>
                <td>
                    <a href="/client/edit?id={{ ligne.id }}" class="btn btn-outline-secondary">Éditer</a>
                    <a href="/client/delete?id={{ ligne.id }}" class="btn btn-outline-danger">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>
                    pas de client
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}