{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une réduction</title>
{% endblock %}

{% block body %}
    <script>
        function getCategorieClient(e) {
            if (e == "") {
                html = `<label for="CatClient" class="form-label">Catégorie de client</label><br>
                    <select name="CatClient" id="CatClient" class="form-select" required disabled>
                        <option value="">Sélectionner une catégorie de client</option>
                    </select>`
                document.getElementById('categorie-select').innerHTML = html;
                disableQuantityInput();

            } else {
                fetch('/reduction/add/categorie?type_id=' + e)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('categorie-select').innerHTML = html;
                    });
            }
        }


    </script>
    <div class="show-head-content">
        <h3>Ajouter une réduction</h3>
    </div>
    <div class="form-container">
        <form method="post" action="/reduction/add">
            <fieldset>
                <legend> Créer une réduction</legend>
                <div class="mb-3">
                    <label for="valReduc" class="form-label">Valeur</label><br>
                    <input id="valReduc" type="number" name="valReduc" size="18" value=""
                           placeholder="Saisir la valeur de la réduction"
                           class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="TypeVetement" class="form-label">Type de vêtement</label><br>
                    <select name="TypeVetement" id="TypeVetement" class="form-select"
                            oninput="getCategorieClient(this.value)" required>
                        <option value="">Sélectionner un type de vêtement</option>
                        {% for type in types_vetements %}
                            <option value={{ type.id }}>{{ type.type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="categorie-select" class="mb-3">
                    <label for="CatClient" class="form-label">Catégorie de client</label><br>
                    <select name="CatClient" id="CatClient" class="form-select" required disabled>
                        <option value="">Sélectionner une catégorie de client</option>
                    </select>
                </div>


                <input type="submit" value="Valider" name="Valider" class="btn btn-primary">
            </fieldset>
        </form>
    </div>
{% endblock %}