<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img
                src="{{ url_for('static', filename='fripkil_logo.png') }}" alt="logo de Fripkil"
                style="width: 50px;height: 50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPlat" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Réductions (Thomas R.)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPlat">
                        <li><a class="dropdown-item" href="/reduction/show">Afficher</a></li>
                        <li><a class="dropdown-item" href="/reduction/etat">État</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTypesPlat" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Clients (Aurélien P.)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTypesPlat">
                        <li><a class="dropdown-item" href="/client/show">Afficher</a></li>
                        <li><a class="dropdown-item" href="/client/etat">État</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTypesPlat" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tris (Quentin P.)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTypesPlat">
                        <li><a class="dropdown-item" href="/tri/show">Afficher</a></li>
                        <li><a class="dropdown-item" href="/tri/etat">État</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTypesPlat" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Achats (Kheira O.)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTypesPlat">
                        <li><a class="dropdown-item" href="/achat/show">Afficher</a></li>
                        <li><a class="dropdown-item" href="/achat/etat">État</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>