<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Afficher logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPlat" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Réduction (Thomas R.)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPlat">
                        <li><a class="dropdown-item" href="/plat/show">Afficher</a></li>
                        <li><a class="dropdown-item" href="/plat/add">État</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTypesPlat" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Client (Aurélien P.)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTypesPlat">
                        <li><a class="dropdown-item" href="/type-plat/show">Afficher</a></li>
                        <li><a class="dropdown-item" href="/type-plat/add">État</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTypesPlat" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tri (Quentin P.)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTypesPlat">
                        <li><a class="dropdown-item" href="/type-plat/show">Afficher</a></li>
                        <li><a class="dropdown-item" href="/type-plat/add">État</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTypesPlat" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Achat (Kheira O.)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTypesPlat">
                        <li><a class="dropdown-item" href="/type-plat/show">Afficher</a></li>
                        <li><a class="dropdown-item" href="/type-plat/add">État</a></li>
                    </ul>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="/plat/filtre">Filtre</a>#}
                {#                </li>#}
            </ul>

        </div>
    </div>
</nav>