{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un achat</title>
{% endblock %}

{% block body %}
    <div class="show-head-content">
        <h3>Ajouter un achat</h3>
    </div>
    <div class="form-container">
        <form method="post" action="/achat/add">
            <fieldset>
                <legend> Créer un achat</legend>
                <div class="mb-3">
                    <label for="Date" class="form-label">Date d'achat</label><br>
                    <input id="Date" type="date" name="Date" size="18" value=""
                           class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="Prix" class="form-label">Prix total</label><br>
                    <input type="number" id="Prix" name="Prix" placeholder="Saisir le prix total"
                           class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="IdClient" class="form-label">Client à l'origine de l'achat</label><br>
                    <select name="IdClient" id="IdClient" class="form-select" required>
                        <option value="">Sélectionner le client</option>
                        {% for client in clients %}
                            <option value={{ client.id }}>{{ client.nomClient }}</option>
                        {% endfor %}
                    </select>
                </div>


                <input type="submit" value="Valider" name="Valider" class="btn btn-primary">
            </fieldset>
        </form>
    </div>
{% endblock %}