{% extends 'layout.html' %}

{% block title %}
<title>afficher les plats</title>
{% endblock %}

{% block body %}
<div class="show-head-content">
    <h3>Achats</h3>
    <a class="btn btn-primary" href="/achat/add">Ajouter un achat</a>
</div>
<div class="table-container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Identifiant</th>
                <th>Date d'achat</th>
                <th>Prix total</th>
                <th>Acheté par </th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% if achat | length >= 1 %}
            {% for ligne in achat %}
            <tr>
                <td>{{ ligne.Identifiant }}</td>
                <td>{{ ligne.Date }}</td>
                <td>{{ ligne.Prix }}</td>
                <td>{{ ligne.Nom +" "+ ligne.Prenom }}</td>
                <td>
                    <a href="/achat/edit?id={{ ligne.Identifiant }}" class="btn btn-outline-secondary">Éditer</a>
                    <a href="/achat/delete?id={{ ligne.Identifiant }}" class="btn btn-outline-danger">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>
                    pas d'achats
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}